body {
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right top, #4b164b, #070606, #380031, #070606, #660259);
}

.log {
    .log__forms {
    padding: 100px;
    border: 1px solid rgba(48, 0, 49, 0.582);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 32px rgba(131, 0, 92, 0.5);
    margin-bottom: 50px;
    }

    .log__title {
        font-weight: 400;
    }

    .log__login {
    color: #fff;
    font-size: 55px;
    margin-bottom: 35px;
    }

    .log__input {
        padding: 15px 20px;
        margin: 10px 0;
        font-size: 16px;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.05);
        color: #fff;
        outline: none;
        transition: all 0.3s ease;
    
        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
    
        &:focus {
            border-color: #660259;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 20px rgba(90, 1, 68, 0.6); 
        }
    }
    
    .log__buttons {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .log__button {
        border-radius: 8px;
        border: 1px solid rgba(70, 0, 55, 0.527);
        background: rgba(255, 255, 255, 0.05);
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease;
        font-size: 16px;
    
        &:hover {
        background: rgba(70, 0, 55, 0.733);
        transform: scale(1.03);
        }
    
        &--first {
        padding: 8px;
        font-weight: 500;
        margin-top: 40px;
        }
    
        &--second {
        padding: 12px 80px;
        color: rgba(255, 255, 255, 0.6);
        border-color: #fff;
        margin-top: 15px;
        width: fit-content;
        align-self: center;
    }
}
    
    .log__button-text {
        color: rgba(255, 255, 255, 0.6);
        font-style: italic;
    
        &:hover {
            color: rgba(255, 255, 255, 0.6);
        }
    }
}